<h2>Genres</h2>

<a asp-action="Create" asp-controller="Genres">Create new Genre</a>

@foreach (var item in Model) {
    <a asp-action="Details" asp-controller="Genres" asp-route-id="@item.GenreID"> @item.Genre.Name </a> <br />
}